*{

}

h1{
    margin: 50px 0px 10px 0px;
}
/* Navigation */

.nav-link{
    font-weight: bold;
}

/* banner */

.carousel-indicators li{
    padding: 2px;
    border-radius: 15px;
}
.buy-now-button{
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}
.buy-now-button:hover{
    background-color: orange;
    transition: 0.5s;
    counter-reset: red;
}
.h-smartphone, .h-laptop{
    margin: 50px 0;
}
.h-smartphone h6, .h-laptop h6{
    color: rgb(233, 158, 19);
}
.card{
    border: none;
    box-shadow: 0px 0px 10px 5px rgb(243, 243, 243);
}
.pale-order{
    box-shadow: none;
}
h5{
    padding: 20px;
    text-align: center;
}
hr{
    width: 100px;
    height: 5px;
    background-image: linear-gradient(-45deg, rgb(255, 183, 88), rgb(255, 251, 23));
    border-radius: 10px;
    position: relative;
    bottom: 8px;
}
.h-categories{
    margin: 80px 0px;
}